.container {
    display: flex;
    margin: 0 auto;
    padding: 15px;
}

.left-column {
    width: 50%;
    position: relative;
}

.right-column {
    width: 40%;

}

.containerimages  {
    height: max-content;
}

.product-name h1 {
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-family: 'Taviraj', serif;
    text-align: left;
}



.right-column {
    margin-top: 5%;
    text-align: left;
}

.product-type h3 {
    letter-spacing: 4px;
    text-transform: uppercase;
}

@media all and (max-width: 880px) {
    /* We tell both sidebars to share a row */
    .container { flex-direction: column;}    
    .left-column { width: 100%;}

    .right-column .whatsappbutton {
        width: fit-content;
    }

    .right-column .email {
        width: fit-content;
    }
  }

  .price h3 {
      font-weight: 200;
  }

  hr {
      width: 100%;
  }

.right-column  .email {
      margin-top: 20%;
    margin-bottom: 10%;
    width: 300px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
  }

.right-column .whatsappbutton {
    margin-top: 20%;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 400px;
}


button a {
    color: black;
}

.sharingbuttons {
    margin-top: 20%;
}


.brmodify {
    margin-top: 10px;
}


.videomodifier {
    
}